<nav style="box-shadow: 1px -3px 5px 1px;" class="navbar navbar-expand-l navbar navbar-dark bg-dark">
    <div class="container">
        <div class="image_round">
            <img id="navbar_image" src="../../public/images/logos.jpg" alt="" width="40" height="40">
            <a style="margin-left: 12px;" class="navbar-brand" href="#">My Company</a>
        </div>
        <div style="margin-left: 450px;">
            <a href="/v1/survey/list" class="btn btn-secondary btn-sm active" role="button"
                aria-pressed="true">Survey</a>
            <a href="/v1/management/list" class="btn btn-secondary btn-sm active" role="button"
                aria-pressed="true">Management</a>
            <a href="/v1/touronoment/list" class="btn btn-secondary btn-sm active" role="button"
                aria-pressed="true">Tournoment</a>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Hero
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/v1/survey/survey">add Survey</a></li>
                <li><a class="dropdown-item" href="/v1/touronoment/tournoment">add Tournoment</a></li>
                <li><a class="dropdown-item" href="/v1/management/management"> add Management</a></li>
            </ul>
        </div>



    </div>
</nav>


<!-- navbar -->