<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <%- include('../partials/header',userinfo=userinfo) %>

        <header>

        </header>

        <main style="margin-top: 90px;" class="container">
            <div class="jumbotron">
                <h1>This is great !</h1>
                <p>Welcome & Tell them what to expect on the first day.</p>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

</body>

</html>