<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class="jumbotron">

        <h1 style="text-align: center;    margin-bottom: 60px  ;font-family: ui-monospace;">
            Welcome to Our Survey Page
        </h1>
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <form class="form" method="POST">
                    <div class="form-group">
                        <input type="hidden" name="id" value="">
                        <label for="bookTextField">Title</label>
                        <input type="text" class="form-control" id="bookTextField" placeholder="Enter the Title"
                            name="Title" value="" required>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="bookTextField">Description</label>
                        <input type="text" class="form-control" id="bookTextField" placeholder="Enter the Description"
                            name="Description" value="" required>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="statusTextField">Name</label>
                        <input type="text" class="form-control" id="statusTextField" placeholder="Enter Sarvey Name"
                            name="surveyname" value="">
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="bookTextField">Survey Date</label>
                        <input type="text" class="form-control" id="bookTextField" placeholder="Enter the Author"
                            name="SurveyDate" value="" required>
                    </div>
                    <br />

                    <button style="width: 100%;" class="btn btn-primary" type="submit">
                        <i class="fas fa-edit"></i>
                        ADD
                    </button>



                </form>
            </div>

        </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>